@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='range'] {
  position: absolute;
  height: 185px;
  margin: 10px 0;
  width: 45px;
  top: 30%;
  left: 10px;
  -webkit-appearance: slider-vertical;
  background-color: black; 
  border: 1px solid #000000;
  border-radius: 100px;
  /* transform: rotate(270deg); */
  z-index: 100;
}