@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='range'] {
  position: absolute;
  height: 6px;
  margin: 10px 0;
  width: 121px;
  top: 375px;
  left: -8px;
  -webkit-appearance: none;
  background-color: white;
  border-radius: 100px;
  transform: rotate(270deg);
  z-index: 100;
  accent-color: #5b5b5b;
  outline: none;
}
